@import url("welcome_photo.css");
@import url("full_img_comunicate.css");
@import url("latest_projects.css");
@import url("my_competencies.css");
@import url("help_to_realize.css");
@import url("footer.css");





html {
    scroll-behavior: smooth;
}


body {
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Manrope', sans-serif;
    background-color: black;
    width: 100%;
    
}
